body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url('img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  cursor: crosshair;
  background-color: #fff;
  margin: auto;
  padding: 0;
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #cac4c4b9;
  text-align: left;
  padding: 8px;
  background-color: #dddddd;
}

.content {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.28s ease;
}

.content h1 {
  font-size: 60px;
  font-family: 'Lobster Two', cursive;
  text-shadow: 2px 2px 2px navy;
  color: #fff;
  text-align: center;
}

.content h4 {
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.sidebar {
  position: fixed; 
  top: 0px;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #333;
  padding-top: 60px;
  transition: all 0.28s ease;
  text-align: center;
  color: #fff;
}

.sidebar .toggle {
  position: absolute; 
  right: 310px;
  top: 0;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

.sidebar .menu {
  overflow: scroll;
}

.sidebar button {
  background-color: gray;
  margin: 5px auto;
  text-align: center;
  display: inline-block;
  width: 160px;
  height: 50px;
  color: #fff;
  border-radius: 3px; 
  font-size: 20px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: darkgray;
}

.sidebar.slide {
  right: 0px !important;
}

.draw-method label {
  display: block;
  margin: 10px auto;
}

.navigation {
  list-style-type: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  color: #fff;
  padding: 5px;
}

#login-dropdown-list a {
  color: #000;
}

.drawings {
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}
